<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ツイ廃ランカー</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89606976-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-89606976-9');
    </script>

</head>
<body>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h1 style="background: #89eefc;text-align: center;">ツイ廃ランカー</h1>
        </div>
    </div>
    <form action="check_rank" method="post">
        <div class="row">
            <div class="col"><input name="ID" placeholder="@ID" style="width: 202px;height: 48px;margin-top: 20px;"
                                    type="text"></div>
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" style="margin-top: 20px" type="submit" value="ランクを測る">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col">
            <p style="margin-top: 20px;">@IDを入力しボタンを押すとツイ廃ランクが表示されます</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="tier_text">Tier：</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="ranking_text">ランキング：</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="tweets_per_day"></p>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>